@page
@model PreventPlus.Pages.LocalFavorito.IndexModel
@{
    ViewData["Title"] = "Locais Favoritos";
}

<h2>Locais Favoritos</h2>

<p>
    <a asp-page="Create" class="btn btn-primary">Adicionar Novo</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>ID Usuário</th>
        <th>ID Local</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.LocaisFavoritos)
    {
        <tr>
            <td>@item.IdFav</td>
            <td>@item.IdUsuario</td>
            <td>@item.IdLocal</td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.IdFav">Editar</a> |
                <a asp-page="Details" asp-route-id="@item.IdFav">Detalhes</a> |
                <a asp-page="Delete" asp-route-id="@item.IdFav">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>